<h1><%=@job.title%></h1>
</hr>
Empresa:  <%=@job.company%></br>
Localização: <%=@job.location%></br>
Categoria: <%=@job.category%></br>
Descrição Completa: <%=@job.description%>
<%=link_to 'Voltar', root_path %>
