<h1><%=@company.name%></h1>
<p>Local: <%=@company.location%></p>
<p>Email: <%=@company.mail%></p>
<p>Telefone: <%=@company.phone%></p>

<% if @company.job.count>0 %>
  <% @company.job.each do |job| %>
    <p><%=job.title %></p>
    <p><%=job.category.name %></p>
  <% end %>
<% else %>
  Nenhuma vaga disponível
<% end %>
