<h1><%=@company.name%></h1>
<p>Local: <%=@company.location%></p>
<p>Email: <%=@company.mail%></p>
<p>Telefone: <%=@company.phone%></p>

<% if @company.jobs.any? %>
  <% @company.jobs.each do |job| %>
    <p><%=job.title %></p>
    <p><%=job.category.name %></p>
  <% end %>
<% else %>
  Nenhuma vaga disponível
<% end %>

<% if @company.premium? %>
  <%= image_tag 'estrela.png' %>
<% end %>
